.settings-password-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #163c76 !important;
    color: white !important;
    border: none !important;
    height: 36px;
    cursor: pointer;
}

.settings-password-button:hover,
.settings-password-button:active {
    background-color: #0a2f68 !important;
}
