.picture-input-button {
    background-color: #1d509e;
    border: 2px solid #163c76;
    color: white;
    height: 34px;
    cursor: pointer;
}

.picture-input-button:hover,
.picture-input-button:active {
    background-color: #163c76 !important;
}

.picture-input-preview-wrapper {
    color: #8892a4;
}

.picture-input-preview-content {
    min-width: 0;
}

.picture-input-preview-image {
    height: auto;
    max-height: 70px;
    max-width: 100%;
    min-width: 0;
    object-fit: contain;
    flex: 0 1 auto;
    background-color: #e3e3e3;
}
