# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/app/node_modules
/app/.pnp
.pnp.js

# testing
/app/coverage

# production
/app/build
/build
/dist
/logs

# misc
.DS_Store
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# don't keep .log files
/api/logs/*.log