.edition-gifts-sort {
    background-color: transparent !important;
    border: 2px solid #163c76 !important;
    color: white !important;
    cursor: pointer;
}

.edition-gifts-sort:hover,
.edition-gifts-sort:active {
    background-color: #0a2f68 !important;
}
