.edition-about-progress {
    color: white;
}

.edition-about-title {
    color: white;
    font-size: x-large;
    font-style: italic;
}

.edition-about-table {
    border-radius: 5px;
    overflow: hidden;
    white-space: pre-line;
}

.edition-about-text {
    color: white;
    text-align: justify;
}
