.edition-about-card {
    background-color: #162f57;
    border: 1px solid #1f375e;
    border-radius: 5px;
}

.edition-about-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1f375e;
    color: white;
}

.edition-about-card-title {
    color: white;
    font-size: larger;
    font-style: italic;
}

.edition-about-card-body {
    display: flex;
    flex-direction: column;
}

.edition-about-card-progress-status {
    font-size: smaller;
    color: #5c6f85;
    text-align: center;
}

.edition-about-card-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #1f375e;
}

.edition-about-card-line:last-child {
    border-bottom: none;
}

.edition-about-card-line-label {
    font-size: medium;
    color: #5c6f85;
}

.edition-about-card-line-value {
    font-size: medium;
    color: white;
}

.edition-about-card-text {
    font-size: medium;
    color: white;
    text-align: justify;
    white-space: pre-line;
}

.edition-about-card-text-toggle {
    background: none;
    border: none;
    font-size: smaller;
    color: #987e4f;
    cursor: pointer;
    align-self: flex-end;
}

.edition-about-card-text-toggle:hover {
    color: #fdd343;
}
