.navbar-container {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 10px 20px;
    background-color: #07224c;
    box-shadow: 0 1px 3px black;
}

.navbar-logo {
    height: 40px;
    width: 40px;
}

.navbar-user-wrapper {
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.navbar-user {
    color: white;
    height: 100%;
    width: 100%;
}

.navbar-user-connected {
    position: absolute;
    bottom: 0;
    right: -2px;
    width: 14px;
    height: 14px;
    background-color: #22c55e;
    border-radius: 50%;
    border: 2px solid white;
}

.navbar-dropdown-triangle {
    content: '';
    position: absolute;
    top: 11px;
    right: 10px;
    z-index: 1000;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e3e3e3;
}

.navbar-dropdown {
    position: absolute;
    top: calc(100% + 20px);
    right: -10px;
    width: max-content;
    max-width: 45vw;
    max-height: calc(100vh - 150px);
    background-color: white;
    border: none !important;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 5px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.navbar-dropdown-item {
    border-bottom: 1px solid #e0e0e0 !important;
    cursor: pointer;
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

.navbar-dropdown-item:active {
    background-color: transparent !important;
    color: black !important;
}

.navbar-dropdown-item-first {
    font-weight: bold !important;
    background-color: #e3e3e3 !important;
    cursor: inherit !important;
}

.navbar-dropdown-item-first:active {
    background-color: #e3e3e3 !important;
}
