.layout-outlet-container {
    padding: 80px 20px 20px 20px;
}

.layout-spinner-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.layout-outlet-container h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
