.btn-edition {
    background-color: #163c76 !important;
    border-color: #163c76 !important;
    color: white !important;
    font-size: large !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.btn-edition:hover,
.btn-edition:active {
    background-color: #0a2f68 !important;
    border-color: #0a2f68 !important;
}

.btn-outline-edition {
    border-color: #163c76 !important;
    border-width: 2px !important;
    color: white !important;
    font-size: large !important;
    padding-top: 7px !important;
    padding-bottom:7 px !important;
}

.btn-outline-edition:hover,
.btn-outline-edition:active {
    background-color: #0a2f68 !important;
    border-color: #0a2f68 !important;
}

.btn-yellow {
    border-color: #ffcf68 !important;
    color: #ffcf68 !important;
}

.btn-yellow:hover,
.btn-yellow:active {
    background-color: #ffcf68 !important;
    border-color: #ffcf68 !important;
    color: black !important;
}

.home-empty {
    background-color: #163c76;
    color: white;
    font-size: large;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}
