.footer {
    position: relative;
    z-index: 5;
    padding: 5px;
    color: #888888;
    font-size: small;
    background-color: white;
}

.footer-text {
    text-align: center;
}

.footer-language-toggle {
    position: absolute;
    display: flex;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.footer-language-toggle:active {
    opacity: 0.7;
    transition: opacity 0.1s ease-in-out;
}

.footer-language-flag {
    width: 24px;
    height: 16px;
    border-radius: 2px;
    object-fit: cover;
}
