.settings-modal-user {
    background-color: var(--color-bg-tertiary);
}

.settings-modal-icon {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-bg-icon);
    color: var(--color-bg-black);
}

.settings-modal-name {
    color: var(--color-text-white);
    min-width: 0;
}

.settings-modal-ellipsis-text {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    font-size: large;
}

.settings-modal-role {
    text-transform: uppercase;
    font-size: x-small;
    font-weight: 600;
}

.settings-modal-description {
    text-align: justify;
    border-radius: 5px;
    background-color: var(--color-bg-gray-lighter);
    border: 1px solid var(--color-border-gray-light);
    border-left: 4px solid var(--color-bg-icon);
}
