.picture-input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #163c76;
    color: white;
    border: none;
    height: 36px;
    cursor: pointer;
}

.picture-input-button:hover,
.picture-input-button:active {
    background-color: #0a2f68 !important;
}

.picture-input-preview-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.picture-input-preview-content {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 0;
    gap: 10px;
}

.picture-input-preview-image {
    height: auto;
    max-height: 70px;
    max-width: 100%;
    min-width: 0;
    object-fit: contain;
    flex: 0 1 auto;
    background-color: #e3e3e3;
    word-break: break-all;
}

.picture-input-button-small {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #f33e3e !important;
    color: white !important;
    border: none !important;
    height: 36px;
    width: 36px;
    cursor: pointer;
    margin-left: auto;
}

.picture-input-button-small:hover,
.picture-input-button-small:active {
    background-color: #d43636 !important;
}
