.gift-modal-count {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 30px;
    color: white;
    font-size: medium !important;
    border-radius: 30px !important;
}
