.edition-players-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #223c66 !important;
    color: white !important;
    border: none !important;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.edition-players-button:hover,
.edition-players-button:active {
    background-color: #1f375e !important;
}

.edition-players-entry {
    border: none !important;
}

.edition-players-item {
    display: flex;
    align-items: center;
    background-color: #162f57;
    border: 1px solid #1f375e;
    border-radius: 5px;
}

.edition-players-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    color: white;
    flex-shrink: 0;
}

.edition-players-name {
    color: white;
    min-width: 0;
}

.edition-players-ellipsis-text {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
}

.edition-players-counter {
    font-size: 12px;
}
