.password-input-button {
    flex-shrink: 0;
    border: 1.5px solid #dee2e6 !important;
    background-color: #f8f9fa !important;
    cursor: pointer;
    color: black !important;
}

.password-input-button:hover,
.password-input-button:active {
    background-color: #e9ecef !important;
    border-color: #adb5bd !important;
}
