.password-input {
    border: none !important;
}

.password-input-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #163c76 !important;
    color: white !important;
    border: none !important;
    z-index: 0 !important;
}

.password-input-button:hover,
.password-input-button:active {
    background-color: #0a2f68 !important;
}
