.navbar-container {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #07224c;
    box-shadow: 0 1px 3px black;
}

.navbar-logo {
    height: 40px;
    width: 40px;
    margin: 10px 20px;
}

.navbar-user-wrapper {
    position: relative;
    margin: 10px 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.navbar-user {
    color: white;
    height: 100%;
    width: 100%;
}

.navbar-user-connected {
    position: absolute;
    bottom: 0;
    bottom: -1px;
    right: -2px;
}
