.navbar-container {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #07224c;
    box-shadow: 0 1px 3px black;
}

.navbar-logo {
    height: 40px;
    width: 40px;
    margin: 10px 20px;
}

.navbar-user-wrapper {
    position: relative;
    margin: 10px 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.navbar-user {
    color: white;
    height: 100%;
    width: 100%;
}

.navbar-user-connected {
    position: absolute;
    bottom: 0;
    bottom: -1px;
    right: -2px;
}

.navbar-dropdown {
    position: absolute;
    top: calc(100% + 10px);
    right: 10px;
    background-color: white;
    border: none !important;
    border-top: none;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: max-content;
    max-width: 45vw;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    border-radius: 5px;
    padding: 0 !important;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.navbar-dropdown-triangle {
    content: '';
    position: absolute;
    top: 1px;
    right: 31px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e3e3e3;
    z-index: 1000;
}

.navbar-dropdown-item {
    padding: 10px !important;
    border-bottom: 1px solid #e0e0e0 !important;
    cursor: pointer;
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

.navbar-dropdown-item:active {
    background-color: transparent !important;
    color: black !important;
}

.navbar-dropdown-item-first {
    font-weight: bold !important;
    background-color: #e3e3e3 !important;
}

.navbar-dropdown-item-first:active {
    background-color: #e3e3e3 !important;
}

.navbar-dropdown-badge {
    font-size: 14px !important;
}
