.search-bar-container {
    width: 100%;
}

.search-bar-group {
    font-family: 'Quicksand-Regular', sans-serif;
    border-radius: 50px !important;
    height: 40px;
}

.search-bar-button {
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    background-color: #163c76 !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 15px !important; /* Ajuste si besoin */
    border: none !important;
}

.search-bar-button:focus,
.search-bar-button:hover {
    background-color: white !important;
    color: #163c76 !important;
}

.search-bar-text {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}
