.connection-modal-lock {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edeff5;
    border: 2px solid #d1d5e5;
}

.connection-modal-lock-text {
    font-size: small;
    color: #8892a4;
}

.connection-modal-field {
    flex: 1 1 0%;
    min-width: 0;
}
