.text-card {
    background-color: #162f57;
    border: 1px solid #1f375e;
    border-radius: 5px;
}

.text-card-header {
    border-bottom: 1px solid #1f375e;
    color: white;
    font-size: larger;
    font-style: italic;
}

.text-card-content {
    color: white;
    text-align: justify;
    white-space: pre-line;
}

.text-card-content-toggle {
    background-color: transparent;
    border: none;
    font-size: smaller;
    color: #987e4f;
    cursor: pointer;
    align-self: flex-end;
}

.text-card-content-toggle:hover,
.text-card-content-toggle:active {
    background-color: transparent !important;
    color: #fdd343;
}
