.text-card {
    background-color: #162f57;
    border: 1px solid #1f375e;
    border-radius: 5px;
}

.text-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1f375e;
    color: white;
}

.text-card-title {
    color: white;
    font-size: larger;
    font-style: italic;
}

.text-card-body {
    display: flex;
    flex-direction: column;
}

.text-card-text {
    color: white;
    text-align: justify;
    white-space: pre-line;
}

.text-card-text-toggle {
    background-color: transparent;
    border: none;
    font-size: smaller;
    color: #987e4f;
    cursor: pointer;
    align-self: flex-end;
}

.text-card-text-toggle:hover {
    color: #fdd343;
}
