.edition-tabs .nav-link {
    color: white !important;
    border-color: white !important;
}

.edition-tabs .nav-link.active {
    color: #ffcf68 !important;
    border-color: #ffcf68 !important;
}

.edition-empty {
    background-color: #163c76;
    color: white;
    font-size: large;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}

.edition-picture-wrapper {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    max-height: calc(100vh - 89.5px); /* Navbar + footer = 60px + 29.5px */
    overflow: hidden;
    z-index: 0;
}

.edition-picture {
    width: 100vw;
    height: auto;
    display: block;
    opacity: 0.8;
    mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
}

.edition-sub-title {
    color: white;
    font-size: x-large;
    font-style: italic;
}
