/* TODO : en faire un style commun */
.edition-tabs .nav-link {
    color: white !important;
    border-color: white !important;
}

.edition-tabs .nav-link.active {
    color: #ffcf68 !important;
    border-color: #ffcf68 !important;
}

/* TODO : style à mettre en commun avec settings */
.edition-empty {
    background-color: #163c76;
    color: white;
    font-size: large;
    text-align: center;
    border-radius: 5px;
    border: 2px dashed #4f6280;
}

.edition-picture-wrapper {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    max-height: calc(100vh - 89.5px); /* Navbar + footer = 60px + 29.5px */
    overflow: hidden;
    z-index: 0;
}

.edition-picture {
    width: 100vw;
    height: auto;
    display: block;
    opacity: 0.8;
    mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
}

.edition-subtitle {
    color: white;
    font-size: x-large;
    font-style: italic;
}

.edition-subtitle .badge {
    background-color: #29334d !important;
    border: 2px solid #4a4a4c !important;
    color: #fdd343 !important;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    flex-shrink: 1;
    min-width: 0;
}

.edition-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #223c66 !important;
    color: white !important;
    border: none !important;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.edition-button:hover,
.edition-button:active {
    background-color: #1f375e !important;
}

.edition-item {
    background-color: #162f57;
    border: 1px solid #1f375e;
    border-radius: 5px;
}

.edition-item-icon {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 600;
    color: white;
}

.edition-item-name {
    color: white;
    min-width: 0;
}

.edition-item-ellipsis-text {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    font-size: large;
}

.edition-item-counter {
    font-size: small;
}
