.progress-card {
    background-color: #162f57;
    border: 1px solid #1f375e;
    border-radius: 5px;
}

.progress-card-header {
    border-bottom: 1px solid #1f375e;
    color: white;
}

.progress-card-title {
    color: white;
    font-size: larger;
    font-style: italic;
}

.progress-card-detail {
    font-size: smaller;
    color: #5c6f85;
    text-align: center;
}
